
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    width: 100%;
    height: 684px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}


.card-content {
    background: #326ADB;
    color: #fff;
    border-radius: 24px 24px 0 0;
    padding: 24px 20px 0;
    position: relative;
    z-index: 1;
}

.card-footer {
    padding: 0 24px;
}

.chatgpt-bg {
    position: absolute;
    width: 235px;
    height: 217px;
    bottom: 7px;
    right: -43px;
    opacity: 0.2;
    z-index: 0;
    pointer-events: none;
}


.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}


.price-block {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.discount {
    background: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 10px;
}

.new-price {
    font-size: 28px;
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
    color: #c7d7f9;
    font-size: 14px;
}


.saving {
    font-size: 14px;
    color: #cce0ff;
    margin-bottom: 16px;
}


.features {
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #cce0ff;
}

.features li {
    margin-bottom: 8px;
}

.features li::before {
    content: '';
    background-image: url('../images/list_item.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 12px;
    height: 8.5px;
    margin-right: 8px;
}


.pay-button {
  width: 100%;
  height: 48px;
  background-color: #326ADB;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 24px 0;
  transition: background 0.3s;
}

.pay-button:hover {
  background-color: #2856b5;
}

